<h1>Editing section</h1>

<%= render "form", section: @section %>

<br>

<div>
  <%= link_to "Back to section", course_section_path(course_id: @section.course, id: @section.id) %> |
  <%= link_to "Back to course", @section.course %>
</div>
